In [120]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

train_data = pd.read_csv("./ml2019spring-hw1/train.csv",encoding = "ISO-8859-1", engine='python')
test_data = pd.read_csv("./ml2019spring-hw1/test.csv",encoding = "ISO-8859-1", engine='python')
train_data

,¤é´Á,´ú¯¸,´ú¶µ,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,Â×­ì,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,Â×­ì,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,Â×­ì,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,Â×­ì,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,Â×­ì,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,2014/12/20,Â×­ì,THC,1.8,1.8,1.8,1.8,1.8,1.7,1.7,...,1.8,1.8,2,2.1,2,1.9,1.9,1.9,2,2
4316,2014/12/20,Â×­ì,WD_HR,46,13,61,44,55,68,66,...,59,308,327,21,100,109,108,114,108,109
4317,2014/12/20,Â×­ì,WIND_DIREC,36,55,72,327,74,52,59,...,18,311,52,54,121,97,107,118,100,105
4318,2014/12/20,Â×­ì,WIND_SPEED,1.9,2.4,1.9,2.8,2.3,1.9,2.1,...,2.3,2.6,1.3,1,1.5,1,1.7,1.5,2,2
4319,2014/12/20,Â×­ì,WS_HR,0.7,0.8,1.8,1,1.9,1.7,2.1,...,1.3,1.7,0.7,0.4,1.1,1.4,1.3,1.6,1.8,2

test_data['AMB_TEMP'] == 'PM2.5'

In [133]:
new_train_data = pd.DataFrame(np.zeros([18, 24*20]))
for day in range(20):
    new_train_data.iloc[:,0+24*day,24+24*day]=train_data.iloc[0+i*18:18+i*18,3:27]

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,14,14,14,13,12,12,12,12,15,17,...,22,22,21,19,17,16,15,15,15,15
1,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,0.51,0.41,0.39,0.37,0.35,0.3,0.37,0.47,0.78,0.74,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,0.2,0.15,0.13,0.12,0.11,0.06,0.1,0.13,0.26,0.23,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,0.9,0.6,0.5,1.7,1.8,1.5,1.9,2.2,6.6,7.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5
5,16,9.2,8.2,6.9,6.8,3.8,6.9,7.8,15,21,...,11,11,22,28,19,12,8.1,7,6.9,6
6,17,9.8,8.7,8.6,8.5,5.3,8.8,9.9,22,29,...,14,13,25,30,21,13,9.7,8.6,8.7,7.5
7,16,30,27,23,24,28,24,22,21,29,...,65,64,51,34,33,34,37,38,38,36
8,56,50,48,35,25,12,4,2,11,38,...,52,51,66,85,85,63,46,36,42,42
9,26,39,36,35,31,28,25,20,19,30,...,36,45,42,49,45,44,41,30,24,13
10,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
11,77,68,67,74,72,73,74,73,66,56,...,47,49,56,67,72,69,70,70,70,69
12,1.8,2,1.7,1.6,1.9,1.4,1.5,1.6,5.1,15,...,3.9,4.4,9.9,5.1,3.4,2.3,2,1.9,1.9,1.9
13,2,2,2,1.9,1.9,1.8,1.9,1.9,2.1,2,...,1.9,1.9,1.9,2.1,2,1.9,1.9,1.9,1.9,1.9
14,37,80,57,76,110,106,101,104,124,46,...,307,304,307,124,118,121,113,112,106,110
15,35,79,2.4,55,94,116,106,94,232,153,...,313,305,291,124,119,118,114,108,102,111
16,1.4,1.8,1,0.6,1.7,2.5,2.5,2,0.6,0.8,...,2.5,2.2,1.4,2.2,2.8,3,2.6,2.7,2.1,2.1
17,0.5,0.9,0.6,0.3,0.6,1.9,2,2,0.5,0.3,...,2.1,2.1,1.9,1,2.5,2.5,2.8,2.6,2.4,2.3

In [122]:
groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]
num2 = [46, 8, 12, 12, 6, 58]
dict = {"groups": num2,  
        "num": num
       }

select_df = pd.DataFrame(dict)
select_df
select_df.shape
select_df.columns
type(select_df.columns)

   groups  num
0      46   46
1       8    8
2      12   12
3      12   12
4       6    6
5      58   58

(6, 2)

Index(['groups', 'num'], dtype='object')

pandas.core.indexes.base.Index

In [130]:
select_df.shape[0]
select_df.iloc[0:1,0:1]

6

   groups
0      46

In [124]:
new_train_data = pd.DataFrame(np.zeros([24*240, 18]))
new_train_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5756,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [125]:
train_data['observation'].unique()

KeyError: 'observation'